<h1> Sign Up </h1>
<h6>Please create a new account: <a href ='/login'>Alreay have an account? Please Log In Here </a></h6>
<h5><a href="/">Or return to Homepage</a></h5>
<form action="/users" method='POST'>
<div class="container">
<label>New Username</label>
  <input type='text' placeholder='Username' name='username' required><br>
  </div>

  <div class="container">
<label>New Email</label><br>
  <input type='email' placeholder='Email' name='email' required><br>
  </div>

  <div class="container">
<label>New Password</label> 
  <input type='password' placeholder='Password' name='password' required><br>
  </div>

<button type='submit' class='button buttonwWhite'>Sign Up</button>
</form>


    