<h2> Add new Crystal by Filling in the Form</h2>

<div class="form-container">
<form action="/crystals" method='post'>
<label>New Crystal</label>
 <input type='text' name='stone'>
   <label>Purpose</label> 
  <input type='text' name='purpose'>
<button id='submit' type 'submit'>Submit</button><br>
    </form>
 </div>
<br>

<h5> <a href="/users/<%=session[:id]%>"> Return to your homepage </a> </h5>