<h2> Add new Crystal by Filling in the Form</h2>

<form action="/crystals" method='POST'>
 <label>New Crystal</label>
<input type='text' name='stone'>
<label>Purpose</label> 
<input type='text' name='purpose'>
<button id='submit' type 'submit'>Submit</button><br>

 <label for= "content">Meditation Goal</label><br>
<p><textarea type="text" name="content" cols="45"></textarea><p>
<button id='submit' type 'submit'>Submit Meditation Goal</button>


</form>
<br>