<body>
<div>
<h2>Mystiks Home Page</h2>
<div class="content">
  <div class="col-md-8 col-md-offset-2">
  <h3>'Science and Spirituality are two ends and you have to keep yourself at the middle. Science guys call it, equilibrium." `Prerak Trivedi'</h3><br>
  <br>
  
   <a href= "/login"><b> Login </b></a> 
   <br>
   <br>
   <a href= "/users/new"><b> Signup </b></a> 
   <br>
   <br>
   <br>
   

    <div class="content">
      <p>Check out our Instagram page, click here <a href="https://www.instagram.com/mystik_treasures/">Instagram</a>.</p>
    </div>
   </div>
 </div> 
</div> 

</body>




